<!DOCTYPE html>
<html>
<head>
    <title>All Events</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>All Events</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for event in data %}
                <tr>
                    <td>{{ event.date }}</td>
                    <td>{{ event.category }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> <br>
    Total : 2948298
    <br>
    <h2>Categories</h2>
    
    {% for name in category %}
    {{name}} <br>
        
    {% endfor %}
        
</body>
</html>
